input {
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    font-size: 40pt;
    text-align: center;
    width: auto;
    height: auto;
    transition:height 1s;
    -webkit-transition:height 1s;
    font-family: Helvetica, sans-serif;
}

html, body {
    background-color:#000000;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: Helvetica, sans-serif;
    margin-left: 15pt;
    background-color:rgba(0, 0, 0, 0);
    color:white;
}